<h2>User Profile</h2>
<div class='col-md-6'>
  <form role="form">
	<fieldset disabled>
	  <div class="form-group">
    	  <label for="inputDisplayName">Name</label>
    	  <input type="text" class="form-control" id="inputDisplayName" placeholder="<%= @user.name %>">
  	  </div>
	  <div class="form-group">
    	<label for="inputDisplayEmail">Name</label>
    	<input type="text" class="form-control" id="inputDisplayEmail" placeholder="<%= @user.email %>">
  	  </div>
  	</fieldset>
  </form>
</div>
