<!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Look up token not found.</h1>
        </div>
        <p class="lead">Please check your look up token and matching URL.</p>
        <p>Use <a href="/rlinks">the Ritly index list</a> if need be.</p>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">&copy; Ritly 2014</p>
      </div>
    </div>